<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2016年,进入大学第一年，曾以为计算机很神秘而选择了这个专业，开启了踩坑之旅。</p>
        <p>2017年，不知道学了些什么，该学什么，各种各样都知道个皮毛，还不知道以后该走哪条路。</p>
        <p>2018年，浑浑噩噩在学校度过了两年了，学习一般，找不到感兴趣的方向，途中学了Python一个月没坚持下去。</p>
        <p>2019年，即将面临实习与毕业，让我下定决心选择一个方向深入学习，不知道是什么驱动了我选择了Java，在此之后从基本是小白（懂一点语法，有一点编程的思想）
            从3月到6月，真的是抓紧时间在学习，找各种资源，跟着视频一点点的敲代码，做笔记，每天晚上至少看三篇Java的技术文章，看一篇面经才会睡觉，我觉得我每天过的
            很充实，到后来，我跟着视频开始了自己的第一个联系项目（crm系统），使用的SSH，刚开始跟着视频讲一点写一点，发现没什么用，因为之前才写的类似的功能代码不
            看原来的代码自己居然写不出来。...想好了再来补充
        </p>
        <p>我是Apathyyi，一个努力让自己变得优秀的coder</p>
         <p>
          <strong>推荐一个个人公众号，我博客的引路人</strong>：<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑（ID：keeppuresmile）</a>，“分享技术、感悟人生”欢迎关注
        </p>
        <p>有兴趣搭建自己个人技术博客的朋友可以去看下他的文章<a href="http://www.ityouknow.com/other/2018/09/16/create-blog.html">纯洁的微笑
        
        <p><strong>About name</strong></p>

        <h2>Articles</h2>
        <p>几篇文章，方便让你快速了解我</p>
        <ul>
           <li>
            2019-06-26 <strong><a href="https://apathyyi.com/java/2019/06/26/list-to-json-And-dateformat.html" target="_blank">这就是apathyyi
                </a></strong>
          </li>
        </ul>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>xc1249561981</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>

       <h2>
         Note
       </h2>
        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
